doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Accessibility of Programming

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 The Accessibility of Programming
        span.tiny-subheader why is it so scary to learn?
        img.avatar.avatar--small(src='images/profile.jpg')
        h3.avatar-name
          a(href='https://twitter.com/markdalgleish') @likethemammal

        a.floating-link(href="http://goo.gl/l1ehqI") http://goo.gl/l1ehqI

      section
        img.avatar(src='images/obama.jpg')
        br
        blockquote.
          ...Don't just buy a new video game, <strong>make one</strong>. Don't just download the latest app, <strong>help design it</strong>. Don't just play on your phone, <strong>program it</strong>...No one's born a computer scientist...
        br
        p
          a(href='http://www.barackobama.com/') Barack Obama
          br
          small Dec 2013


      section.light(data-bespoke-state='green')
        h2 Goals of this talk
        p Why its so scary.
        p How its not magic.
        p How easy it can be.

      section.gif.gif--frustration.blur
        h2 Starting in the wrong place
        span PHP
        span HTML
        span Python
        span Ruby
        span Javascript
        span Go
        span Java

      section
        h2 Why is learning so <strong>hard</strong>?

      section
        h2 <strong>Its hard</strong> to get started
        p Install
        p Setup
        p Assumptions
        p Acronyms
        p etc

      section
        h2 <strong>Its hard</strong> to practically apply what you've learned
        p For Android development you need an Android device
        p For Back-end development you need a server
        p It doesnt have to be this hard.

      section.light(data-bespoke-state='green')
        h2 Why is the front-end web a good place to start?

      section
        h2 You already use it everyday
        p So you understand how it <em>should</em> work.

      section
        h2 Its open
        p Every site can be investigated to learn how things work

      section
        h2 Doesn't require knowing the command line
        p All you need is a browser.
        p No terminal, editor, or install.
        p CMSs make it easy to start tweaking things without setting anything up.

      section
        h2 Tech Demo!

      section.light(data-bespoke-state='green')
        h2 Getting into the basics

      section
        h2 What does <em>front-end</em> mean? How's it related to <em>back-end</em>?

      section
        h2 Front-end
        p Layout
        p Colors
        p Buttons
        p Images
        p Animation
        p Media playback (Video/Music)
        p Dropdowns, sliders, transparency

      section
        h2 Back-end
        p Databases
        p Real-time (i.e. chat, twitter feed, etc.)
        p Login/Signup
        p Processing forms
        p Much scarier things...

      section.gif.gif--eye.blur2
        h2 I prefer the front-end web because I can easily see that I'm working with something
        p Theres a thing and I'm positioning it, changing its color, or animating it.

      section.light(data-bespoke-state='green')
        h2 Basics of front-end
        p HTML
        p CSS
        p Javascript

      section
        h2 <strong>HTML</strong> is the scaffolding

      section
        h2 <strong>CSS</strong> is layout and colors

      section
        h2 <strong>Javascript</strong> is for actions

      section
        h3 How simple things can be
        pre.language-html
           <span>&lt;html&gt;</span>
           <span>  &lt;head&gt;</span>
           <span>    &lt;title&gt;</span>Some Title<span>&lt;/title&gt;</span>
           <span>  &lt;/head&gt;</span>
           <span>  &lt;body style=&quot;background: blue&quot;&gt;</span>
           <span>    &lt;h1 onclick=&quot;alert('hey')&quot;&gt;Hello World&lt;/h1&gt;</span>
           <span>  &lt;/body&gt;</span>
           <span>&lt;html&gt;</span>

      section
        h2 Tech Example!

      section
        h2 What is the <strong>DOM</strong>?

      section.gif.gif--twitter.blur.faded2
        h2 Investigate how your favorite sites work.
        p Its a great way to learn ;p

      section
        h2 What is <strong id="js-words" >Javascript</strong>
        p The "programming" side of the web.

      section
        h2 Javascript, jQuery, Java
        p needs some clarification...

      section
        h2 Where the command line comes in
        p Git
        p Required to use some libraries
        p Serving and Watching files
        p Live Reload
        p Installing Modules
        p A bunch more reasons...

      section.light(data-bespoke-state='green')
        h2 Overview of Chrome
        p Chrome OS
        p Chrome Dev Tools

      section
        h2 Chrome OS
        p cheap
        p extendable
        p closed

      section
        h2 Chrome Dev Tools
        p Elements panel
        p Console panel
        p Sources panel
        p Selection tool

      section
        h2 How do you compensate for Photoshop, Terminal, etc.?

      section.light(data-bespoke-state='green')
        h2 Web tools
        p Koding
        p Pixlr Editor
        p JS Fiddle
        p Codepen
        p Stackoverflow

      section
        h3 Koding (acct required, but its free)
        img.image(src='images/tools/koding.jpg')
        p
          p
          a(href="https://koding.com/Terminal") https://koding.com/Terminal

      section
        h3 Pixlr Editor (no account)
        img.image(src='images/tools/pixlr-editor.png')
        p
          p
          a(href="http://pixlr.com/editor/") http://pixlr.com/editor

      section
        h3 JS Fiddle (no account)
        img.image(src='images/tools/js-fiddle.png')
        p
          p
          a(href="http://jsfiddle.net/") http://jsfiddle.net

      section
        h3 Codepen (no account)
        img.image(src='images/tools/codepen.png')
        p
          p
          a(href="http://codepen.io/") http://codepen.io

      section
        h3 Stack Overflow (no account)
        img.image(src='images/tools/stack-overflow.jpg')
        p
          p
          a(href="http://stackoverflow.com/") http://stackoverflow.com

      section
        h2 Going further
        p Building Chrome Extensions
        p Building Dev Tools Extensions
        p Activate Dev Mode for Chrome OS

      section.light(data-bespoke-state='green')
        h2 Wrapping up
        p Programming isnt scary
        p You dont have to dive into command line
        p Learn by example through your favorite sites

      section
        h1 Thank You
        p Questions?

      section.light(data-bespoke-state='green')
        h2
          a(href="http://goo.gl/l1ehqI") http://goo.gl/l1ehqI
        br
        img.avatar.avatar--small(src='images/profile.jpg')
        h3.avatar-name
          a(href='https://twitter.com/markdalgleish') @likethemammal
          br
          a(href='https://likethemammal.com')   likethemammal.com


        // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild